.card-body {
    color: yellow;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.2em;
  }
  
  .card-subtitle {
    font-size: 1em;
    font-style: italic;
  }
  
  .card-link {
    color: blue;
    text-decoration: underline;
  }
  
  .additional-details {
    margin-top: 10px;
    padding: 10px;
    background-color: black; /* Puedes cambiar el color de fondo según tus preferencias */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .character-image {
    width: 300px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: auto;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    transition: opacity 1s ease-in-out; /* Agregamos una transición de fade in */
  }
  
  .character-details {
    text-align: left;
    max-width: 300px; /* Ajusta el ancho máximo del texto según tus preferencias */
  }

  .blue-text {
    color: blue;
  }
  
  .red-text {
    color: red;
  }

  .thumbs-container {
    margin-top: 10px;
  }
  
  .thumb-icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .thumb-icon.liked {
    color: #28a745; /* Verde para pulgar arriba */
  }
  
  .thumb-icon.disliked {
    color: #dc3545; /* Rojo para pulgar abajo */
  }