.additional-details {
    margin-top: 15px;
    padding: 10px;
    background-color: black; /* Puedes cambiar el color de fondo según tus preferencias */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .character-image {
    width: 300px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: auto;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .character-details {
    text-align: left;
    max-width: 300px; /* Ajusta el ancho máximo del texto según tus preferencias */
  }
  
  .blue-text {
    color: blue;
  }
  
  .red-text {
    color: red;
  }
  
  .comments-section {
    margin-top: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }